@font-face {
   font-family: 'MonumentExtended-Ultrabold';
   font-display: swap;
   src: url('MonumentExtended-Ultrabold/font.otf');
}
@font-face {
   font-family: 'Nord-Black';
   font-display: swap;
   src: url('Nord-Black/font.otf');
}
@font-face {
   font-family: 'Poppins-Bold';
   font-display: swap;
   src: url('Poppins-Bold/font.ttf');
}
@font-face {
   font-family: 'Poppins-Medium';
   font-display: swap;
   src: url('Poppins-Medium/font.ttf');
}
@font-face {
   font-family: 'Optician-Sans';
   font-display: swap;
   src: url('Optician-Sans/font.otf');
}
