@font-face {
   font-family: 'Poppins-Bold';
   font-display: swap;
   src: url('file:///C:/Users/thiba/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-26_132002/fonts/Poppins-Bold/font.ttf');
}
