@font-face {
   font-family: 'Montserrat-Medium';
   font-display: swap;
   src: url('file:///C:/Users/thiba/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-26_132002/fonts/Montserrat-Medium/font.otf');
}
