@font-face {
   font-family: 'MonumentExtended-Ultrabold';
   font-display: swap;
   src: url('file:///C:/Users/thiba/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-26_132002/fonts/MonumentExtended-Ultrabold/font.otf');
}
